.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 400px;
    overflow: hidden;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}
.card-beetween {
    display: flex;
    align-items: stretch;
    align-items: center;

}


