.card-container {
    display: flex;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}
