.hurricane-photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150vh;
    overflow: hidden;
    position: relative;
}

.hurricane-photo {
    position: absolute;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.text-photo2 {
    color: #dddddd;
    font-weight: 900;
    margin: 0;
    font-size: 30px;
    width: 300px;
}
